torch
torchvision
cython
matplotlib
numpy
scipy
pyyaml
packaging
pycocotools
tensorboardx
h5py
opencv-python


requests
tqdm
streamlit
pillow # for PIL

datasets
transformers 
sentence_transformers
langchain
python-dotenv
gradio
pypdf
streamlit
python-box
ensure
wget

nltk
PyPDF2
librosa
resampy
# pinecone-client
qdrant-client
langchain-openai
langchain-qdrant
langchain-google-genai
langchain-cohere
