torch
torchvision
cython
matplotlib
numpy
scipy
pyyaml
makefile
packaging
pycocotools
tensorboardx
h5py
opencv-python

requests
tqdm
streamlit
pillow # for PIL

datasets
transformers 
sentence_transformers
langchain
python-dotenv
gradio
pypdf
streamlit
python-box
ensure
wget

nltk
PyPDF2
librosa
resampy
qdrant-client
langchain-openai
langchain-qdrant
langchain-google-genai
langchain-cohere
urllib3==2.0
langchain==0.3.0
langchain-core==0.3.6
langchain_huggingface
langchain-google-vertexai
langchain-google-genai==2.0.0


