torch==2.4.0
torchvision==0.19.0
cython==3.0.11
matplotlib==3.9.2
numpy==1.26.4
pandas==2.2.2
scipy==1.13.1
pyyaml==6.0.1
makefile==1.1.0
packaging==24.1
pycocotools==2.0.8
tensorboardx==2.6.2.2
h5py==3.11.0
opencv-python==4.10.0.84
soundfile==0.12.1
requests==2.32.3
tqdm==4.66.5
pillow==10.4.0 # for PIL

datasets==2.21.0
transformers==4.44.2
sentence_transformers==3.0.1
python-dotenv==1.0.1
gradio== 4.44.0
pypdf==4.3.1
streamlit==1.38.0
python-box==7.2.0
ensure==1.0.4
wget==3.2

nltk==3.9.1
urllib3==2.0
PyPDF2==3.0.1
librosa==0.10.2.post1
resampy==0.4.3

langchain==0.3.0
langchain-core==0.3.6
qdrant-client==1.11.1
langchain-cohere==0.3.0
langchain-qdrant==0.1.4
langchain-google-genai==2.0.0


### For Dev Environment

pytest==8.3.3
tox==4.21.0
mypy==1.11.2
pytest-cov==5.0.0